services:
  redis:
    image: redis:8.4.0
    container_name: redis
    ports:
      - "6379:6379"

    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 3s
      timeout: 2s
      retries: 5
    volumes:
      - redis-data:/data

  api:
    build: .
    container_name: api
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy

    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
    volumes:
      - ./src:/app/src

volumes:
  redis-data:

